<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.springframework.org/schema/util" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <title>登陆</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/3.3.7/css/bootstrap.min.css}">
    <script th:src="@{/static/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    <script th:src="@{/static/jquery/js/jquery-3.4.1.min.js}"></script>
</head>
<body>
<div class="container" style="text-align: center;padding-top: 400px;background-size:cover;background: url('../static/images/backgroud.jpg')  no-repeat fixed center;">

    <form class="form-horizontal" style="text-align: left;" action="#" role="form" th:action="@{/main/login/check}"
          method="post">

        <div style="width: 300px; margin: auto;">
            <div class="form-group required">
                <span style="color: red;" th:text="${msg}"></span>
            </div>
            <div class="form-group required">
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" id="username"
                           placeholder="请输入用户名" value="admin">
                </div>
            </div>
            <div class="form-group required">
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password"
                           placeholder="请输入密码" value="admin">
                </div>
            </div>
            <div class="form-group" style=" text-align: left;">
                <div class="col-sm-offset-2 col-sm-10" style=" text-align: left;">
                    <button type="submit" class="btn btn-default">登录</button>
                    &nbsp;&nbsp
                    <a th:href="@{/main/register}">
                        <button type="button" class="btn btn-default">注册</button>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

<!--<link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.min.css}">-->
<!--<script th:src="@{/static/bootstrap/js/bootstrap.min.js}"></script>-->
<!--<script th:src="@{/static/jquery/js/jquery-3.4.1.min.js}"></script>-->
</body>
</html>