<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdk.general.core.storage.dao.DbMessagesMapper">
  <resultMap id="BaseResultMap" type="com.wdk.general.core.storage.entity.DbMessages">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="db_type" jdbcType="VARCHAR" property="dbType" />
    <result column="host" jdbcType="VARCHAR" property="host" />
    <result column="db_name" jdbcType="VARCHAR" property="dbName" />
    <result column="db_username" jdbcType="VARCHAR" property="dbUsername" />
    <result column="db_password" jdbcType="VARCHAR" property="dbPassword" />
    <result column="db_port" jdbcType="INTEGER" property="dbPort" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, db_type, host, db_name, db_username, db_password, db_port, create_time, 
    update_time
  </sql>
  <select id="selectByExample" parameterType="com.wdk.general.core.storage.entity.DbMessagesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_messages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="offset != null and limit != null">
      limit ${offset}, ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from db_messages
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from db_messages
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wdk.general.core.storage.entity.DbMessagesExample">
    delete from db_messages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wdk.general.core.storage.entity.DbMessages">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into db_messages (user_id, db_type, host, 
      db_name, db_username, db_password, 
      db_port, create_time, update_time
      )
    values (#{userId,jdbcType=INTEGER}, #{dbType,jdbcType=VARCHAR}, #{host,jdbcType=VARCHAR}, 
      #{dbName,jdbcType=VARCHAR}, #{dbUsername,jdbcType=VARCHAR}, #{dbPassword,jdbcType=VARCHAR}, 
      #{dbPort,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wdk.general.core.storage.entity.DbMessages">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into db_messages
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="dbType != null">
        db_type,
      </if>
      <if test="host != null">
        host,
      </if>
      <if test="dbName != null">
        db_name,
      </if>
      <if test="dbUsername != null">
        db_username,
      </if>
      <if test="dbPassword != null">
        db_password,
      </if>
      <if test="dbPort != null">
        db_port,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="dbType != null">
        #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        #{host,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbUsername != null">
        #{dbUsername,jdbcType=VARCHAR},
      </if>
      <if test="dbPassword != null">
        #{dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        #{dbPort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wdk.general.core.storage.entity.DbMessagesExample" resultType="java.lang.Long">
    select count(*) from db_messages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update db_messages
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.dbType != null">
        db_type = #{record.dbType,jdbcType=VARCHAR},
      </if>
      <if test="record.host != null">
        host = #{record.host,jdbcType=VARCHAR},
      </if>
      <if test="record.dbName != null">
        db_name = #{record.dbName,jdbcType=VARCHAR},
      </if>
      <if test="record.dbUsername != null">
        db_username = #{record.dbUsername,jdbcType=VARCHAR},
      </if>
      <if test="record.dbPassword != null">
        db_password = #{record.dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="record.dbPort != null">
        db_port = #{record.dbPort,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateSql != null" >
        ${record.updateSql},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update db_messages
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      db_type = #{record.dbType,jdbcType=VARCHAR},
      host = #{record.host,jdbcType=VARCHAR},
      db_name = #{record.dbName,jdbcType=VARCHAR},
      db_username = #{record.dbUsername,jdbcType=VARCHAR},
      db_password = #{record.dbPassword,jdbcType=VARCHAR},
      db_port = #{record.dbPort,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wdk.general.core.storage.entity.DbMessages">
    update db_messages
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="dbType != null">
        db_type = #{dbType,jdbcType=VARCHAR},
      </if>
      <if test="host != null">
        host = #{host,jdbcType=VARCHAR},
      </if>
      <if test="dbName != null">
        db_name = #{dbName,jdbcType=VARCHAR},
      </if>
      <if test="dbUsername != null">
        db_username = #{dbUsername,jdbcType=VARCHAR},
      </if>
      <if test="dbPassword != null">
        db_password = #{dbPassword,jdbcType=VARCHAR},
      </if>
      <if test="dbPort != null">
        db_port = #{dbPort,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wdk.general.core.storage.entity.DbMessages">
    update db_messages
    set user_id = #{userId,jdbcType=INTEGER},
      db_type = #{dbType,jdbcType=VARCHAR},
      host = #{host,jdbcType=VARCHAR},
      db_name = #{dbName,jdbcType=VARCHAR},
      db_username = #{dbUsername,jdbcType=VARCHAR},
      db_password = #{dbPassword,jdbcType=VARCHAR},
      db_port = #{dbPort,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.wdk.general.core.storage.entity.DbMessagesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from db_messages
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="sumByExample" parameterType="com.wdk.general.core.storage.entity.DbMessagesExample" resultType="long" >
    select sum(${sumCol}) from db_messages
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
            insert into db_messages  (user_id, db_type, host, 
        db_name, db_username, db_password, 
        db_port, create_time, update_time
        )
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.userId,jdbcType=INTEGER}, #{item.dbType,jdbcType=VARCHAR}, #{item.host,jdbcType=VARCHAR}, 
        #{item.dbName,jdbcType=VARCHAR}, #{item.dbUsername,jdbcType=VARCHAR}, #{item.dbPassword,jdbcType=VARCHAR}, 
        #{item.dbPort,jdbcType=INTEGER}, #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP}
        )
      </foreach>
    </if>
  </insert>
</mapper>