<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdk.general.core.storage.dao.ProjectMetadataMapper">
  <resultMap id="BaseResultMap" type="com.wdk.general.core.storage.entity.ProjectMetadata">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="group" jdbcType="VARCHAR" property="group" />
    <result column="artifact" jdbcType="VARCHAR" property="artifact" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="language" jdbcType="VARCHAR" property="language" />
    <result column="packaging" jdbcType="VARCHAR" property="packaging" />
    <result column="java_version" jdbcType="VARCHAR" property="javaVersion" />
    <result column="version" jdbcType="VARCHAR" property="version" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="packages" jdbcType="VARCHAR" property="packages" />
    <result column="point" jdbcType="INTEGER" property="point" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, group, artifact, type, language, packaging, java_version, version, name, 
    description, packages, point, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.wdk.general.core.storage.entity.ProjectMetadataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="offset != null and limit != null">
      limit ${offset}, ${limit}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_metadata
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project_metadata
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.wdk.general.core.storage.entity.ProjectMetadataExample">
    delete from project_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wdk.general.core.storage.entity.ProjectMetadata">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into project_metadata (user_id, group, artifact, 
      type, language, packaging, 
      java_version, version, name, 
      description, packages, point, 
      create_time, update_time)
    values (#{userId,jdbcType=INTEGER}, #{group,jdbcType=VARCHAR}, #{artifact,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{language,jdbcType=VARCHAR}, #{packaging,jdbcType=VARCHAR}, 
      #{javaVersion,jdbcType=VARCHAR}, #{version,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{packages,jdbcType=VARCHAR}, #{point,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.wdk.general.core.storage.entity.ProjectMetadata">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into project_metadata
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="group != null">
        group,
      </if>
      <if test="artifact != null">
        artifact,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="language != null">
        language,
      </if>
      <if test="packaging != null">
        packaging,
      </if>
      <if test="javaVersion != null">
        java_version,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="packages != null">
        packages,
      </if>
      <if test="point != null">
        point,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="group != null">
        #{group,jdbcType=VARCHAR},
      </if>
      <if test="artifact != null">
        #{artifact,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        #{language,jdbcType=VARCHAR},
      </if>
      <if test="packaging != null">
        #{packaging,jdbcType=VARCHAR},
      </if>
      <if test="javaVersion != null">
        #{javaVersion,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="packages != null">
        #{packages,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        #{point,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wdk.general.core.storage.entity.ProjectMetadataExample" resultType="java.lang.Long">
    select count(*) from project_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update project_metadata
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.group != null">
        group = #{record.group,jdbcType=VARCHAR},
      </if>
      <if test="record.artifact != null">
        artifact = #{record.artifact,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.language != null">
        language = #{record.language,jdbcType=VARCHAR},
      </if>
      <if test="record.packaging != null">
        packaging = #{record.packaging,jdbcType=VARCHAR},
      </if>
      <if test="record.javaVersion != null">
        java_version = #{record.javaVersion,jdbcType=VARCHAR},
      </if>
      <if test="record.version != null">
        version = #{record.version,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.packages != null">
        packages = #{record.packages,jdbcType=VARCHAR},
      </if>
      <if test="record.point != null">
        point = #{record.point,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateSql != null" >
        ${record.updateSql},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update project_metadata
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      group = #{record.group,jdbcType=VARCHAR},
      artifact = #{record.artifact,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      language = #{record.language,jdbcType=VARCHAR},
      packaging = #{record.packaging,jdbcType=VARCHAR},
      java_version = #{record.javaVersion,jdbcType=VARCHAR},
      version = #{record.version,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      packages = #{record.packages,jdbcType=VARCHAR},
      point = #{record.point,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wdk.general.core.storage.entity.ProjectMetadata">
    update project_metadata
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="group != null">
        group = #{group,jdbcType=VARCHAR},
      </if>
      <if test="artifact != null">
        artifact = #{artifact,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="language != null">
        language = #{language,jdbcType=VARCHAR},
      </if>
      <if test="packaging != null">
        packaging = #{packaging,jdbcType=VARCHAR},
      </if>
      <if test="javaVersion != null">
        java_version = #{javaVersion,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="packages != null">
        packages = #{packages,jdbcType=VARCHAR},
      </if>
      <if test="point != null">
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wdk.general.core.storage.entity.ProjectMetadata">
    update project_metadata
    set user_id = #{userId,jdbcType=INTEGER},
      group = #{group,jdbcType=VARCHAR},
      artifact = #{artifact,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      language = #{language,jdbcType=VARCHAR},
      packaging = #{packaging,jdbcType=VARCHAR},
      java_version = #{javaVersion,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      packages = #{packages,jdbcType=VARCHAR},
      point = #{point,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="com.wdk.general.core.storage.entity.ProjectMetadataExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from project_metadata
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="sumByExample" parameterType="com.wdk.general.core.storage.entity.ProjectMetadataExample" resultType="long" >
    select sum(${sumCol}) from project_metadata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <insert id="batchInsert">
    <if test="items.get(0) != null">
            insert into project_metadata  (user_id, group, artifact, 
        type, language, packaging, 
        java_version, version, name, 
        description, packages, point, 
        create_time, update_time)
      values
      <foreach collection="items" item="item" index="index" separator=",">
      (#{item.userId,jdbcType=INTEGER}, #{item.group,jdbcType=VARCHAR}, #{item.artifact,jdbcType=VARCHAR}, 
        #{item.type,jdbcType=VARCHAR}, #{item.language,jdbcType=VARCHAR}, #{item.packaging,jdbcType=VARCHAR}, 
        #{item.javaVersion,jdbcType=VARCHAR}, #{item.version,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, 
        #{item.description,jdbcType=VARCHAR}, #{item.packages,jdbcType=VARCHAR}, #{item.point,jdbcType=INTEGER}, 
        #{item.createTime,jdbcType=TIMESTAMP}, #{item.updateTime,jdbcType=TIMESTAMP})
      </foreach>
    </if>
  </insert>
</mapper>